/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: #1E293B;
  line-height: 1.6;
}
header ul {
  margin-right: 250px;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #FFF3E0;
  flex-wrap: wrap;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #FF5722;
}

header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

header ul li a {
  text-decoration: none;
  color: #475569;
  font-size: 1rem;
}

header ul li .btn-connecter {
  background-color: #FF5722;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 200px;
  background-color: #ffffff;
}

.hero-content {
  max-width: 50%;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #1E293B;
}

.hero h1 span {
  color: #FF5722;
}

.hero p {
  font-size: 1.2rem;
  color: #475569;
  margin-bottom: 20px;
}

.hero button {
  background-color: #FF5722;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.why-us {
  margin-left: 70px ;
  padding: 50px 20px;
  background-color: #ffffff;
}

.why-us h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}



.feature img {
  max-width: 60px;
  margin-bottom: 15px;
}

.feature h3 {
  font-size: 1.2rem;
  color: #1E293B;
  margin-bottom: 30px;
}

.feature p {
  font-size: 0.9rem;
  color: #64748B;
}

footer {

  padding: 20px;
  background-color: #FFF3E0;
  font-size: 0.9rem;

}
footer p{
  margin-left: 40px;
}
.Contact{
  margin-top: 40px;
  font-size: 1.5rem;
  margin-bottom: 50px;
}
